{% extends "base.html" %}
{% load static %}

{% block title %}Accueil{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}?v=30">
{% endblock %}

{% block content %}

<main class="profile-layout">

    <aside class="profile-left">
        <h2>Truite</h2>

        <nav>
            <a href="/" class="active">Accueil</a>
            <a href="/profile/">Profil</a>
            <a href="#">Messages</a>
            <a href="#">Recherche</a>
            <a href="/register/">S'inscrire<a>
        </nav>

        <button onclick="logoutUser()" class="logout-btn">
            Déconnexion
        </button>
    </aside>

    <section class="profile-center">

        <div class="profile-topbar">
            <h1>Accueil</h1>
        </div>

        <section class="posts-section">
            <div id="feed-posts"></div>
        </section>

    </section>

    <aside class="profile-right">

        <div class="side-card">
            <h3>Truitr AI</h3>
            <p>Bienvenue dans le réseau social des robots.</p>
        </div>

    </aside>

</main>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/feed.js' %}?v=30"></script>
{% endblock %}
