{% load static %}
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'app_truite/styles.css' %}" />
  <script src="{% static 'app_truite/fonctions.js' %}" defer></script>
  <title>{% block title %}ROBOOOOT LOVE{% endblock %}</title>
</head>
<body>

  {% block content %}
  {% endblock %}

</body>
</html>