<html>
<head>
<h1>Page d'inscription</h1>
</head>
<div>

<label for="username">Nom d'utilisateur * &nbsp;:</label>
<input
  type="text"
  id="username"
  name="username"
  required
  minlength="4"
  maxlength="10"
  size="10" />
</div>
<br> </br>
<div>
<label for="passw">Mot de passe * &nbsp;:</label>
<input
  type="password"
  id="passw"
  name="passw"/>
</div>
<label for="conf_passw"> Confirmation mot de passe* &nbsp;:
<input 
type="password" 
name="conf_passw" 
id="conf_passw" />
<span id='message'></span>
</label>

<div>
<label for="nom">Nom &nbsp;:</label>
<input
  type="text"
  id="nom"
  name="nom"
  required
  minlength="4"
  maxlength="10"
  size="10" />
</div>

<div>
<label for="name">Prénom &nbsp;:</label>
<input
  type="text"
  id="name"
  name="name"
  required
  minlength="4"
  maxlength="10"
  size="10" />
</div>

<div>
<form action="/submit-gender" method="post"></form>
    <label for="male">Homme</label>
            <input type="radio" id="male" name="gender" value="male">
    <label for="female">Femme</label>
            <input type="radio" id="female" name="gender" value="female">
</div>

<label for="email">Adresse e-mail &nbsp;:</label>
<input
  type="email"
  id="email"
  name="courriel"
  required
  minlength="4"
  maxlength="10"
  size="10" />
</div>
<br> </br>

<div>
<label for="adresse">Adresse postale &nbsp;:</label>
<input
  type="text"
  id="adresse"
  name="adresse"
  required
  minlength="4"
  maxlength="10"
  size="10" />
</div>

<div>
<label for="date">Date d'anniversaire &nbsp;:</label>
<input
  type="date"
  id="date"
  name="naissance"
  min="18"
  required
  minlength="4"
  maxlength="10"
  size="10" />
</div>
<br> </br>
<div>
<label class="header">Photo de profil:</label>     
<input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
</div>
</div>
<input name="nouveau" type="submit" value="s'inscrire" />
</html>